* body {
    margin: 0%;
    background-image: url(bg4.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100%;
}
pre {
    display: block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1em 0;
    color: #D7E5CA;
    font-size: 1.2em;   
    }

figcaption {
       color: #ffffff;
       justify-content:center;
       margin-bottom: 100px;  
    }

.pre1 {
    color: #232D3F;
}

  .table1 {
    width: 100% ;
    border:1; 
    border-collapse: collapse;
    background-color:black ;
    backdrop-filter: blur(6px) saturate(180%) ;
    -webkit-backdrop-filter: blur(6px) saturate(180);
    background-color: rgba(22, 33, 53, 0.75);
    border-radius: 12px;
    bottom: 1px solid rgba(255, 255, 255, 0.125);
}

.table1 td {
    border: 1px solid #000000;
    padding: 8px;
    color: #ffffff;
    
    
}

.table1 tr th {
    background:rgba(17, 25, 40, 0.75);
    color: white !important;
    font-weight: normal;
    opacity: 0.8;
    
   
}

  .footer {
    position: fixed;
    left: 0;
    bottom: -11px;
    width: 100%;
    background-color:rgba(17, 25, 40, 0.75);
    color: white;
    text-align: center;
    opacity: 0.8;
 }

 .footer a img {
    width: 32px;
    height: 32px;
    margin: 8px 0px 2px 0px;
 }

.footer p {
font-size: 14px;
margin-top: auto;
color: white;

}



h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}